html, body {
	overflow-x: hidden;
	overflow: hidden;
	z-index: 0;
}

canvas {
	z-index: 0;
	position: relative;
	top: -66px;
}

.canvas-alt {
	z-index: 0;
	position: relative;
	top: -266px;
}

.full-width {
	margin: 0 -9999rem;
	/* add back negative margin value */
	padding: 0.65rem 9999rem;
	background: rgba(247, 243, 188, 1.0);
	z-index: 1;
	position: relative;
	top: 0px;
}

.wrap {
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}

.btn-group {
	position: relative;
	top: -31px;
	right: 0px;
}

.btn {
	padding-left: 10px;
	padding-right: 10px;
}

.pull-right {
	float: right !important;
}

.hidden-list {
	background-color: rgba(132, 219, 252, 1.0);
	width: 20%;
	position: relative;
	top: 0px;
	right: -180px;
	z-index: 2;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

/* Get the file inputs to look Boostrappy accross all browsers. */
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Boostrap Methods to show and hide an element */
.show {
	display: block !important;
}

.hidden {
	display: none !important;
}